.top img {
    height: 40px;
}
.top {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    border: 1px #F5F6F7;
    justify-content: space-around;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 20px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
}
li a {
    text-decoration: none;
    padding-inline: 35px;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
}
li:hover {
    opacity: 0.8;
}
.container {
    width: 630px;
    height: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 2fr);
}
.box1 {
    width: 624px;
    height: 350px;
    border: 1px solid #EBEDEF;
}
.box1 h1 {
    color: #C4160C;
    font-size: 52px;
}
.box1 p {
    font-size: 18px;
    color: #303134;
}
* {
    font-family: 'Encode Sans';
}
.box2, .box3 {
    width: 624px;
    height: 300px;
    display: grid;
    grid-template-columns: 192px 192px 192px;
    justify-content: space-between;
    margin: 0px;
    border: 1px solid #EBEDEF;
}
.box2 img {

    border-radius: 12px;
    width: 193px;
    height: 110px;
}
.box2 div h3, h5, p {
    margin: 6px;
}
.box2 p {
    font-size: 12px;
}
.box2 h5, .box3 h5 {
    color: #C4160C;
}
.box3 div h3, h5, p {
    margin: 6px;
}
.box3 h3 {
    font-size: 18px;
}
.box3 p {
    font-size: 12px;
}
.box4, .box5 {
    width: 624px;
    height: 300px;
    margin: 0px;
    border: 1px solid #EBEDEF;
    margin-right: 30px;
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
}
.box4 img, .box5 img {
    border-radius: 12px;
    width: 240px;
    height: 128px;
}
.box4 h5 {
    color: #42BD75;
}
.box4 div h3, h5, p {
    margin: 10px;
}
.box5 h5 {
    color: #ED8714;
}
.box5 div h3, h5, p {
    margin: 10px;
}
.container2 {
    display: flex;
    width: 550px;
}
.container2 div {
    margin-bottom: 20px;
}
.box5 p {
    font-size: 12px;
}
.box4 h3, .box5 h3 {
    font-size: 17px;
}
.conteudo {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 35px auto;
}




